# Python 缓存文件
__pycache__/
*.pyc

# 虚拟环境 (如果你们建在项目里的话)
venv/
env/
.conda/

# 数据库文件 (每个人本地测试的数据库不要互相覆盖)
history.db

# 上传和输出的静态图片 (测试图片不要上传)
static/uploads/*
static/outputs/*
!static/uploads/.gitkeep
!static/outputs/.gitkeep

# VS Code 配置文件
.vscode/